version: "3.9"

services:
  psicami:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: psicami
    ports:
      - "3001:3001"
    restart: always
    environment:
      NODE_ENV: production
      PORT: 3001
    networks:
      - web

networks:
  web:
    external: true
